.taskpage__container {
  border: 1px solid red;
}

.task {
  margin: 10px;
  padding: 10px 20px 10px 20px;
}

.taskform__new {
  background-image: url(../assets/brown-papyrus-paper.jpg);
  background-size: cover;
  background-position: center;

  margin: 10px;
  border-radius: 3px;
  padding: 30px;
  text-align: center;
  animation: glow 3s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 60px 15px rgb(255, 255, 255) inset;
  }
  to {
    box-shadow: 0 0 60px 28px rgb(255, 255, 255) inset;
  }
}

.task__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
