.homepage__topbar {
  display: flex;
  justify-content: space-between;
  background-color: beige;
  padding: 10px;
  border: 1px solid black;
}

.homepage__bottom {
  display: flex;
}

.homepage__bottom-left {
  width: 35%;
  overflow: scroll;
  text-align: center;
}

.homepage__bottom-right {
  width: 65%;
}
